.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}
.container {
   display: table-cell;
   vertical-align: middle;
}
.canvas-container {
   position: relative;
   max-width: 100%;
   min-width: 100%;
   margin: 0 auto;
}
#main {
   width: 100%;
   height: 100%;
}
body{
   margin:0;
   padding:0;
   background-color: black;
}